/*LAPTOP*/

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.menu{
    text-align: center;
}

.container{
    display: flex;
    flex-direction: row;
}
.heading{
    background-color: gray;
    border: 2px solid black;
    margin: 12px;
    padding-left: 10px;
}
.new{
   display: flex;
   flex-direction: row;   
}

.btn{
    text-align: right;
    border: 2px solid black;
    float: right;
    font-size:medium;
}
#b1{background-color: rgb(170, 70, 12);}
#b2{background-color: red;}
#b3{background-color: rgb(228, 198, 31);}



/*TABLET*/

@media only screen and (max-width: 992px) and (min-width: 768px){

    .container{
        display: block;
        
    }

    .new{
        display: flex;
        flex-direction: row;   
     }
     

}


/*MOBILE*/

@media only screen and (max-width: 768px){
    .new{
        display: flex;
        flex-direction: column;   
     }
     .container{
        display: grid;
        
    }

}
